@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  /* font family */

  --font: "Kumbh Sans", sans-serif;

  /* Primary */

  --orange: hsl(26, 100%, 55%);
  --pale-orange: hsl(25, 100%, 94%);

  /*  Neutral */

  --very-dark-blue: hsl(220, 13%, 13%);
  --dark-grayish-blue: hsl(219, 9%, 45%);
  --grayish-blue: hsl(220, 14%, 75%);
  --light-grayish-blue: hsl(223, 64%, 98%);
  --white: hsl(0, 0%, 100%);
  --black-opacity: hsl(0, 0%, 0%);
}

body {
  font-family: var(--font);
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.overflow-body {
  overflow: hidden;
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid hsla(217, 9%, 70%, 0.479);
}

.container-header {
  width: 80%;
  height: 6rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  padding-bottom: 2rem;
}

.logo {
  display: flex;
  gap: 2rem;
  margin-left: 1rem;
  align-items: baseline;
}

nav {
  width: 60%;
  display: flex;
  justify-content: space-around;
  gap: 1rem;
}

nav a {
  color: var(--dark-grayish-blue);
}

.container-user-car {
  display: flex;
  width: 100%;
  justify-content: end;
  align-items: center;
  margin-right: 2rem;
  gap: 2rem;
}

.user-img {
  width: 3rem;
}

.car-icone {
  width: 1.2rem;
}

.container {
  max-width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 2rem;
  padding-top: 1rem;
  padding-bottom: 0rem;
  margin: 0 auto;
}

.container-imagens {
  width: 50%;
  padding: 4rem;
  padding-top: 0rem;
  padding-bottom: 0rem;
}

.img-principal {
  width: 100%;
}

.img-principal img {
  width: 100%;
  border-radius: 1rem;
  transition: all 150ms ease-in-out;
}

.container-text {
  width: 50%;
  padding: 3rem;
  padding-top: 0;
}

.text-init {
  width: 100%;
  margin-top: 3rem;
}

.sub-imgs {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 6%;
}

.sub-imgs img {
  width: 20%;
  border-radius: 10px;
  display: flex;
  margin-top: 2rem;
  transition: all 150ms ease-in-out;
}

img:hover {
  filter: opacity(50%);
}

img {
  cursor: pointer;
}

.opacity {
  filter: opacity(50%);
}

.marca {
  color: var(--orange);
  font-size: 0.8rem;
  font-weight: 700;
  margin-bottom: 0.8rem;
}

.title-product {
  font-size: 2rem;
  color: var(--black-opacity);
  margin-bottom: 1rem;
}

.text-product {
  color: var(--dark-grayish-blue);
  font-size: 1rem;
  line-height: 1.8;
}

.prices {
  margin-top: 1rem;
  display: flex;
  align-items: center;
}

.preco {
  font-size: 1.5rem;
  font-weight: 700;
  margin-right: 0.6rem;
}

.desconto {
  border: 3px solid var(--pale-orange);
  font-size: 0.8rem;
  font-weight: 700;
  color: var(--orange);
  background: var(--pale-orange);
  border-radius: 8px;
}

.valor-desconto {
  color: var(--grayish-blue);
  text-decoration: line-through;
  font-size: 0.8rem;
  margin-top: 5px;
}

.container-buttons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
}

.btn-less {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--orange);
  cursor: pointer;

  border: none;
  background: none;
  margin-left: 10px;
  width: 2rem;
}

.contador {
  font-size: 0.8rem;
  width: 4rem;
  text-align: center;
}

.btn-plus {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--orange);
  cursor: pointer;

  border: none;
  background: none;
  margin-left: 10px;
  width: 2rem;
}

.btn-less:hover {
  filter: opacity(50%);
  box-shadow: 6px 18px 30px -14px black;
  transition: 100ms;
}

.btn-plus:hover {
  filter: opacity(50%);
  box-shadow: 6px 18px 30px -14px black;
  transition: 100ms;
}

.container-plus-less {
  width: 80%;
  display: flex;
  align-items: center;
}

.container-btn-card {
  width: 100%;
  display: flex;
  background: var(--orange);
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 125ms ease-in-out;
  gap: 10px;
}

.btn-car-icone {
  font-size: 4rem;
  transform: scale(0.8);
}

.btn-car-icone path {
  fill: var(--white);
}

.btn-add-card {
  height: 2.5rem;
  border-radius: 8px;
  border: none;
  background: none;
  color: var(--white);
  font-size: 0.8rem;
  font-weight: 700;
}

.container-btn-card:hover {
  filter: opacity(50%);
  box-shadow: 6px 10px 30px -14px var(--orange);
}

/* modal */

.modal-imgs {
  width: 100%;
  height: 100%;
  position: fixed;
  display: none;
  padding-bottom: 0px;
  bottom: 0;
  background: hsla(0, 0%, 0%, 0.644);
  animation: fadeIn both ease-in-out 250ms;
  z-index: 10;
}

.modal-imgs.ativo {
  display: flex;
}

.container-modal-imgs {
  display: none;
  position: absolute;
  align-items: center;
  flex-direction: column;
  z-index: 20;
  width: 30%;
  margin-top: 3rem;
}

.container-modal-imgs.ativo {
  display: flex;
}

.img-modal-principal {
  width: 100%;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-img-principal {
  width: 100%;
  border-radius: 1rem;
  filter: none;
}

.modal-img-principal:hover {
  filter: none;
}

.modal-imgs img {
  width: 70%;
  border-radius: 8px;
  filter: none;
}

.modal-sub-imgs {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.modal-sub-imgs img {
  width: 20%;
  border-radius: 1rem;
  transition: all 150ms ease-in-out;
}

.modal-sub-imgs img:hover {
  filter: brightness(130%);
}

.btn-close-modal {
  display: flex;
  align-items: flex-start;
  justify-content: end;
  position: absolute;
  width: 100%;
  height: 1px;

  z-index: 40;
}

.btn-close-modal span {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--orange);
  font-size: 1.2rem;
  font-weight: 700;
  margin-top: -2.3rem;
  cursor: pointer;
  transition: all 150ms ease-in-out;
}

.btn-close-modal span:hover {
  filter: brightness(130%);
}

.brt-car-icone {
  fill: aliceblue;
  width: 3rem;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 375px) {
  .container {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    padding: 0;
    margin: 0 auto;
  }

  .container-imagens {
    width: 100%;
  }

  .img-principal img {
    border-radius: 0;
  }

  .sub-imgs {
    display: none;
  }

  .container-text {
    width: 100%;
    padding: 1.5rem;
  }

  .title-product {
    font-size: 2rem;
  }

  .valor-desconto {
    width: 100%;
    text-align: end;
    margin-top: -25px;
  }

  .container-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .container-btn-card {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    width: 100%;
  }

  .btn-add-card {
    width: 100%;
  }

  .modal-imgs {
    display: none;
  }

  .modal-imgs.ativo {
    display: none;
  }
}
